*{
    padding: 0;
    margin: 0%;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat
}

nav{
    background: #414446;
    height: 80px;
    width: 100%;
        
}

label.logo {
    color: White;
    font-size: 50px;
    padding: 0 100px;
    font-weight: bold;

}
nav ul{ 
    float:right;
    margin-right: 250px;

}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

 a.active,a:hover{
     background: #829db3;
     transition: .5s;
 }

 p.salmonLogo{
     float: left;
     font-size: 35px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
 }

 p.SalmonParagraph{
    margin: 0;
    padding: 0;
    float: left;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
  
}

footer{
    padding: 0;
    margin: 0;
    float: right;

    background: #414446 ;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;

}